.ogtabs-content-wrapper {

}

.ogtabs-content-row {
  display: inline;
  margin-left: 10px;
}

.ogtabs-edit-button {
  float: right;
}

.ogtabs-link-wrapper {
  padding: 10px 0 20px;
  border-bottom: dotted 1px #000;
}

.ogtabs-link-wrapper:first-child {
  border-top: dotted 1px 1px rgb(204, 204, 204);
}

 /* Calendar */
.sp-main table tbody tr .ui-widget-content {
  border: dotted 1px #ccc;
}
