.node-syllabi {
    
    border-bottom: dotted 1px #000;
}

.syllabus-entry {
  display: inline;
  margin-top: 10px;
}

.submitted {

}

.syllabi-title {
   font-size: 25px;
}
.syllabus-edit {
  padding: 10px;
}

div.indentation {
    #width: 50px;
}

#block-ogtabs-ogtabs-draggable-form td:nth-child(2), #block-ogtabs-ogtabs-draggable-form td:nth-child(3),
#block-ogtabs-ogtabs-draggable-form td:nth-child(4) {
    display: none;
}

.tabledrag-toggle-weight, .example-item-weight {
  display: none;
}

.syllabus-entry p.submitted {
  margin-top: 0;
  margin-bottom:0;
}

.spacer {
  clear: both;
}

.syllabus-entry .node-title {
   background-image: url("../../../../themes/zen-bell/images/bell_sprite.png");
   background-position: 18px -496px;
   background-repeat: no-repeat;
   color: #015172;
   padding: 1rem 0 0.5rem 4.9rem;
   margin-top: 0;
   margin-bottom: 0;
   text-decoration: underline;
}

.syllabus-entry.contracted .node-title {
    background-image: url("../../../../themes/zen-bell/images/bell_sprite.png");
   background-position: 18px -541px;
   background-repeat: no-repeat;
   color: #015172;
   padding: 1rem 0 0.5rem 4.9rem;
   margin-top: 0;
   margin-bottom: 0;
   text-decoration: underline;
}

.syllabus-entry .field {
  margin-left: 50px;
  display: none;
}
